{% extends "base.html" %}

{% block content %}
  <div class="row formpg">
    <div class="col-lg parttwo">
    
      <form action="" method="POST">
        {% csrf_token %}
        <table class="table table-borderless table-responsive">
          <tr>
            <td>
              From: <input type="date" name="fromdate" required>
            </td>
            <td>
              To: <input type="date" name="todate" required>
            </td>
            <td><button type="submit" value="Search" class="smsbtn">Download CSV</button></td>
          </tr>
        </table>
      </form>

      <table class="table table-borderless table-responsive">
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Message count</th>
          <th>Customer count</th>
          <th>User ID</th>
        </tr>
        {% for text in page_obj %}
        <tr>
          <td>{{text.description}}</td>
          <td>{{text.date}}</td>
          <td >{{text.msgcount}}</td>
          <td>{{text.custcount}}</td>
          <td>{{text.user}}</td>
        </tr>
        {% endfor %}
        <tr>
          <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </tr>
      </table>
    </div>
  </div>



{% endblock %}